@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

h1, h2, h3, h4 {
  font-weight: 500;
  text-transform: uppercase; }

.btn_cta, .btn_projects, .btn_project_section {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  border: none;
  transition: all 0.7s; }

.btn_cta, .btn_projects, .btn_project_section {
  color: #1d1d1d;
  background-color: #ffc831; }
  .btn_cta:hover, .btn_projects:hover, .btn_project_section:hover {
    color: #ffc831;
    background-color: #1d1d1d; }

.btn_projects {
  padding: 0.8rem 2.6rem; }
  .btn_projects:hover {
    background-color: #f4f4f4;
    color: #1d1d1d; }

.btn_project_section {
  padding: 0.7rem 1.4rem;
  background-color: #1d1d1d;
  color: #f4f4f4; }
  .btn_project_section:hover {
    color: #1d1d1d;
    background-color: #f4f4f4;
    border: 1px solid black; }

.container {
  max-width: 1280px;
  margin: auto;
  overflow: hidden; }

.section_title {
  font-size: 2.2rem;
  padding-bottom: 0.5rem; }

.section_text {
  font-size: 1.2rem; }

.text_center {
  text-align: center; }

.p_0 {
  padding: 5rem; }

.p_1 {
  padding: 4rem; }

.p_2 {
  padding: 3rem; }

.p_3 {
  padding: 2rem; }

.p_4 {
  padding: 1rem; }

.ptb_0 {
  padding: 5rem 0; }

.ptb_1 {
  padding: 4rem 0; }

.ptb_2 {
  padding: 3rem 0; }

.ptb_3 {
  padding: 2rem 0; }

.ptb_4 {
  padding: 1rem 0; }

.section_separation {
  width: 50%;
  margin: 2.5rem auto;
  color: #f4f4f4; }

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d;
  padding: 0.5rem 1rem; }
  .main_nav ul {
    display: flex; }
  .main_nav li {
    padding: 1rem 1.5rem; }
  .main_nav a {
    color: #fff;
    padding-bottom: 0.3rem;
    border-bottom: 2px transparent solid;
    transition: border-color 1s; }
    .main_nav a .logo_title {
      font-family: 'Pacifico', cursive;
      font-size: 1.6rem;
      padding: 5px 0 0 0;
      color: #fff;
      text-transform: none; }
    .main_nav a:hover {
      border-color: #ffc831; }
    .main_nav a.current_page {
      border-color: #ffc831; }

.header {
  background: url("../img/analyste-programmeur.jpg") no-repeat center top/cover;
  height: 93.4vh;
  color: #fff; }
  .header .header_content {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5.4rem; }
    .header .header_content .cta_title {
      font-size: 4.5rem; }
    .header .header_content .cta_catch {
      font-size: 1.2rem;
      padding: 0.6rem 0 2.2rem 0; }

.section_technologies, .about_section_technologies {
  background-color: #fdfdfd; }
  .section_technologies .technologies, .about_section_technologies .technologies {
    margin-top: 3rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr); }
    .section_technologies .technologies div, .about_section_technologies .technologies div {
      margin: 0 0.5rem; }
    .section_technologies .technologies .fas, .about_section_technologies .technologies .fas {
      color: #ffc831;
      background-color: #1d1d1d;
      padding: 0.7rem 1rem;
      margin-bottom: 0.7rem;
      border-radius: 50%; }
    .section_technologies .technologies h3, .about_section_technologies .technologies h3 {
      font-size: 1.5rem;
      margin-bottom: 0.3rem; }

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .projects .projects_img {
    background: url(../img/dev.jpg) no-repeat center center/cover; }
  .projects .projects_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #1d1d1d;
    color: #f4f4f4; }
    .projects .projects_content ul {
      margin-bottom: 2.5rem; }
      .projects .projects_content ul .fas, .projects .projects_content ul .far {
        padding-bottom: 0.6rem; }
      .projects .projects_content ul .projects_title {
        padding-bottom: 0.5rem; }
      .projects .projects_content ul .projects_number {
        font-size: 1.3rem; }
  .projects a {
    margin: auto;
    grid-column: 1/4; }

.about_section .about_info {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 1.5rem; }
  .about_section .about_info .bio_content {
    grid-column: 2 /span 3;
    border-left: 3px solid #ffc831;
    padding: 1.5rem 3.5rem; }
    .about_section .about_info .bio_content .about_title {
      font-size: 1.7rem;
      margin-bottom: 1rem; }
    .about_section .about_info .bio_content ul li {
      margin-bottom: 1.2rem; }
  .about_section .about_info .about_icon_title {
    font-size: 1.3rem;
    padding: 0.7rem 0; }

.about_section_technologies {
  background-color: #1d1d1d;
  color: #f4f4f4; }
  .about_section_technologies .section_text {
    margin-bottom: 1.5rem; }
  .about_section_technologies .progress_bar {
    height: 1rem;
    background-color: #f4f4f4;
    border-radius: 4px;
    margin-bottom: 0.9rem; }
    .about_section_technologies .progress_bar div {
      height: 100%;
      background-color: #ffc831;
      border-radius: 4px;
      margin-top: 0.1rem; }
    .about_section_technologies .progress_bar_10 {
      width: 10%; }
    .about_section_technologies .progress_bar_20 {
      width: 20%; }
    .about_section_technologies .progress_bar_30 {
      width: 30%; }
    .about_section_technologies .progress_bar_40 {
      width: 40%; }
    .about_section_technologies .progress_bar_50 {
      width: 50%; }
    .about_section_technologies .progress_bar_60 {
      width: 60%; }
    .about_section_technologies .progress_bar_70 {
      width: 70%; }
    .about_section_technologies .progress_bar_80 {
      width: 80%; }
    .about_section_technologies .progress_bar_90 {
      width: 90%; }
    .about_section_technologies .progress_bar_100 {
      width: 100%; }
  .about_section_technologies .technologies .fas {
    color: #1d1d1d;
    background-color: #f4f4f4; }

.projects_section .project {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.5rem 0; }
  .projects_section .project img {
    margin-left: 0.7rem; }
  .projects_section .project .fas {
    padding-right: 0.3rem; }
  .projects_section .project .project_text {
    margin: 0.7rem 0.7rem; }

.contact_section form {
  width: 960px;
  margin: auto; }

.contact_section .label_input_fields {
  display: grid;
  grid-template-areas: 'name email' 'message message';
  grid-gap: 1.2rem;
  margin-bottom: 0.8rem; }
  .contact_section .label_input_fields label {
    display: block;
    text-align: left; }
  .contact_section .label_input_fields input, .contact_section .label_input_fields textarea {
    border: 2px solid #d4d4d4;
    border-radius: 5px;
    padding: 0.7rem;
    margin-top: 0.3rem;
    width: 100%; }
  .contact_section .label_input_fields .name_input {
    grid-area: name; }
  .contact_section .label_input_fields .email_input {
    grid-area: email; }
  .contact_section .label_input_fields .message_input {
    grid-area: message; }
  .contact_section .label_input_fields .is_required:after {
    content: '*';
    color: #dc143c;
    padding-left: 0.2rem; }

.contact_info_section {
  background-color: #1d1d1d;
  color: #f4f4f4; }
  .contact_info_section .contact_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .contact_info_section .contact_info i, .contact_info_section .contact_info h3 {
      padding-bottom: 0.4rem; }

.main_footer .footer_content {
  color: #1d1d1d; }
  .main_footer .footer_content .contact_footer {
    margin-left: 3rem; }

@media (max-width: 850px) {
  .p_0 {
    padding: 2.5rem; }
  .p_1 {
    padding: 2rem; }
  .p_2 {
    padding: 1.5rem; }
  .p_3 {
    padding: 1rem; }
  .p_4 {
    padding: 0.5rem; }
  .ptb_0 {
    padding: 2.5rem 0; }
  .ptb_1 {
    padding: 2rem 0; }
  .ptb_2 {
    padding: 1.5rem 0; }
  .ptb_3 {
    padding: 1rem 0; }
  .ptb_4 {
    padding: 0.5rem 0; }
  .main_nav {
    flex-direction: column;
    justify-content: center; }
    .main_nav li {
      margin-top: 0.9rem;
      font-size: 0.9rem;
      padding: 1rem; }
  .header .header_content .cta_title {
    font-size: 2.5rem; }
  .header .header_content .cta_catch {
    text-align: center;
    font-size: 1.1rem; }
  .section_technologies .technologies {
    display: block;
    margin-top: 0.5rem; }
    .section_technologies .technologies .fas {
      margin-top: 2rem; }
  .projects {
    display: block; }
    .projects .projects_img {
      display: none; }
    .projects .projects_content {
      display: block; }
  .contact_section form {
    width: 100%; }
  .contact_section .label_input_fields {
    display: block; }
    .contact_section .label_input_fields label {
      margin-top: 1.2rem;
      padding-left: 0.9rem; }
    .contact_section .label_input_fields textarea {
      margin-bottom: 1.4rem; }
    .contact_section .label_input_fields input, .contact_section .label_input_fields textarea {
      width: 90%; }
  .contact_info_section {
    padding-bottom: 2.2rem; }
    .contact_info_section .contact_info {
      display: block; }
      .contact_info_section .contact_info .fas, .contact_info_section .contact_info .fab {
        margin-top: 1.7rem; } }

@media (max-width: 1250px) {
  .about_section .about_info {
    display: block; }
  .about_section_technologies h3, .about_section_technologies .progress_bar {
    margin: 0.3rem 0.5rem; }
  .about_section_technologies .section_separation {
    margin-bottom: 1rem; }
  .about_section_technologies .technologies {
    display: block; }
    .about_section_technologies .technologies div .fas {
      margin-top: 1.7rem; }
  .projects_section .project {
    display: block; }
  .main_footer {
    margin: 0.6rem; }
    .main_footer .footer_content .contact_footer {
      margin: 0; } }
